<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="adjust-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_url %>><i class="wi wi-night-sleet"></i>&nbsp;MailGun</a>
      <nav class="pull-right">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if logged_in? %>
            <% if current_user.admin %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">WebHooks
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Click', mailgun_webhooks_path(type: 'click') %></li>
                  <li><%= link_to 'Bounce', mailgun_webhooks_path(type: 'bounce') %></li>
                </ul>
              </li>
              <% end %>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Signup", signup_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
